In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, RationalQuadratic, ExpSineSquared, ConstantKernel
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from datetime import datetime

In [6]:
#Dataset for Concrete strength
df_merck1 = pd.read_csv('ACT2_competition_training.csv')
df_merck1.head()

,MOLECULE,Act,D_3,D_4,D_5,D_7,D_10,D_11,D_12,D_16,...,D_11030,D_11031,D_11034,D_11045,D_11046,D_11048,D_11049,D_11051,D_11056,D_11072
0,ACT2_M_19,6.7153,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACT2_M_20,6.4912,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACT2_M_21,5.8528,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACT2_M_22,6.3854,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACT2_M_23,5.8941,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_merck2 = pd.read_csv('ACT4_competition_training.csv')
df_merck2.head()

,MOLECULE,Act,D_5,D_39,D_40,D_41,D_42,D_43,D_44,D_45,...,D_10700,D_10701,D_10702,D_10703,D_10706,D_10735,D_10736,D_10737,D_10742,D_10772
0,ACT4_M_5065,5.3001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACT4_M_7241,4.6012,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACT4_M_11511,5.3001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACT4_M_13147,5.3001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACT4_M_15001,5.3001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0